/* #1B1326 */
/* #0D1940 */
/* #2561D9 */
/* #27498C */
/* #52B5F2 */

/* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Skip link utility: hidden until focused */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*--------Utility Styles---------*/
.container{
  width:80vw;
  max-width:992px;
  margin:40px auto;
}

img{
  max-width: 100%;
}

/*--------Global Styles---------*/

body{
  font-family: "Libertinus Sans", sans-serif;
  margin:0;
}

header.primary{
  background-color:#0D1940;
  color:white;
  text-align: center;
  text-shadow: 1px 1px #000000;
/* Longform */
padding-top:40px;
padding-right:40px;
padding-bottom:40px;
padding-left:40px;
/* Single Value */
padding:40px;
/* T/R/D/L */
padding: 40px 40px 20px 40px;
/* T/B | L/R */
padding: 20px 40px;
}

header.primary a{
  color:white;
  text-decoration:none;
}

header.primary h1{
 font-size:2.4rem;
}

header.primary p.subtitle{
  font-size:1.1rem;
  margin:10px 0 20px;
  letter-spacing: -.2px;
}

/*header.primary nav.container{
 
}*/

header.primary nav ul{
 padding:0;
 display:flex;
 flex-direction:row;
 justify-content:space-evenly;
 gap:30px;
}

header.primary nav ul li{
 list-style-type:none;
 margin-bottom:10px;
 flex:1;
}

header.primary nav ul li a{
  background-color: rgba(0,0,0,.4);
  padding:5px 7.5px;
  display:block;
  border-radius: 20px 40px;
  border: 2px solid #0D1940
}

header.primary nav ul li a:hover{
  background-color: rgba(0,0,0,.7)
}

#content h2, #blog h2{
  color:#0D1940;
  border-bottom:1px solid #2561D9
}

#content p{
  line-height:1.8;
}

#blog{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:15px;
}

#blog h2{
  flex: 0 0 100%;
}



#blog article{
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  padding: 10px;
  font-size: .9px;
  flex:1;
}

figure{
  margin:0;
}

#blog article time,
 #blog figcaption{
  text-transform: uppercase;
  font-size:.9rem;
}

#blog a{
  color:#27498C
}

aside[aria-label="Sidebar"]{
  background-color: #0D1940;
  color: #fff;
  padding: 40px 0;
}
aside div.container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:40px;
}

aside .container a{
  color:#2561D9;
}

article.widget footer{
  display:none;
}








/* ------------------- Media Queries --------------------*/

@media scren and (max-width:500px){

header.primary nav ul{
 flex-direction:column;
 gap: 5px;
}

#blog h2{
  text-align:center;
}

}



